body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #eee;
}

header {
	padding: 20px 10px;
	background-color: #2b6eff;
	color: white;
	display: flex;
	justify-content: space-between;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 30px;
	margin: 20px 0 5px 0;
}

h3 {
	margin: 10px 0 30px 0;
	font-weight: 400;
}

.btn-edit {
	background-color: white;
	border: none;
	padding: 5px 20px;
	color: #3a4d8f;
	font-size: 18px;
}

.cv-window {
	flex-grow: 1;
	margin: 20px 30px;
	max-width: 1200px;
	background-color: white;
	display: grid;
	grid-template-rows: 150px;
	grid-template-areas:
		'heading heading heading heading'
		'info main main main';
}

.edit-mode {
	background-color: #777;
}

.cv-heading {
	background-color: #555;
	color: white;
	position: relative;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	grid-area: heading;
}

.cv-heading button {
	position: absolute;
	bottom: 10px;
	padding: 5px 10px;
	background-color: #03b4c6;
	color: white;
	border: none;
	border-radius: 3px;
}

.info-pane {
	background-color: #dedede;
	grid-area: info;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 15px;
}

.info-section {
	text-align: end;
}

.info-header {
	display: flex;
	align-items: baseline;
	justify-content: end;
}

.info-header button {
	margin-left: 10px;
}

.info-section button {
	background-color: transparent;
	border: 2px solid #3a4d8f;
	color: #3a4d8f;
	border-radius: 3px;
	padding: 5px;
}

.info-section p {
	text-align: end;
}

.main-pane {
	grid-area: main;
}
